<a href="https://colab.research.google.com/github/StephenSheng1101/DMprac/blob/main/MockPracticalTest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pathlib import Path
import pandas as pd
import tarfile
import urllib.request

In [6]:
df = pd.read_csv('heart.csv')
print(df.head())
print(df.info())
print(len(df))
print(df.describe())

   age     sex                cp  trtbps  chol    fbs  restecg  thalachh exng  \
0   63    male      asymptomatic     145   233   True        0       150   no
1   37    male  non-anginal pain     130   250  False        1       187   no
2   41  female   atypical angina     130   204  False        0       172   no
3   56    male   atypical angina     120   236  False        1       178   no
4   57  female    typical angina     120   354  False        1       163  yes

   oldpeak          slp  ca output
0      2.3  downsloping   0   high
1      3.5  downsloping   0   high
2      1.4    upsloping   0   high
3      0.8    upsloping   0   high
4      0.6    upsloping   0   high
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    object
 2   cp        303 non-null    object
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    bool
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    object
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    object
 11  ca        303 non-null    int64
 12  output    303 non-null    object
dtypes: bool(1), float64(1), int64(6), object(5)
memory usage: 28.8+ KB
None
303
              age      trtbps        chol     restecg    thalachh     oldpeak  \
count  303.000000  303.000000  303.000000  303.000000  303.000000  303.000000
mean    54.366337  131.623762  246.264026    0.528053  149.646865    1.039604
std      9.082101   17.538143   51.830751    0.525860   22.905161    1.161075
min     29.000000   94.000000  126.000000    0.000000   71.000000    0.000000
25%     47.500000  120.000000  211.000000    0.000000  133.500000    0.000000
50%     55.000000  130.000000  240.000000    1.000000  153.000000    0.800000
75%     61.000000  140.000000  274.500000    1.000000  166.000000    1.600000
max     77.000000  200.000000  564.000000    2.000000  202.000000    6.200000

               ca
count  303.000000
mean     0.729373
std      1.022606
min      0.000000
25%      0.000000
50%      0.000000
75%      1.000000
max      4.000000

In [3]:
from sklearn.model_selection import train_test_split


train_set, test_set = train_test_split(df, test_size=0.2, random_state=42)

print("Length of train_set:", len(train_set))
print("Length of test_set:", len(test_set))

Length of train_set: 242
Length of test_set: 61

In [7]:
corr_matrix = train_set.corr(numeric_only=True)
corr_matrix["restecg"].sort_values(ascending=False)

restecg     1.000000
thalachh    0.016973
oldpeak     0.009423
ca         -0.042357
trtbps     -0.067485
fbs        -0.073940
age        -0.127500
chol       -0.130684
Name: restecg, dtype: float64